html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


html {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

body {
  font-family: "EB Garamond", serif;
}

/* NAVIGATION */

header {
  width: 50vw;
  height: 99.9vh;
  margin: 0;
  padding: 0;
  right: 0;
  left: 0;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #444;
}

nav {
  z-index: 999;
  position: fixed;
  width: 99.9vw;
}

nav ul {
  list-style: none;
  background: #fff;
  overflow: hidden;
  color: #444;
  text-align: right;
  margin: 0;
  transition: 1s;
}

/* nav.black ul {
  background: #fff;
} */


nav ul li {
  display: inline-block;
  padding: 17px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
}

/* animacja */


.menu {
  border-bottom: 1px solid #BBBBBB;
}

.nav-link {
  text-decoration: none;
  color: #031D44;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 1px;
  content: "";
  position: absolute;
  background-color: #222;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 1px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

/* end of animacja */

.menu-icon {
  width: 100%;
  font-size: 12px;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.icon_menu {
  width: 20px;
  font-size: 12px;
  top: 58vh;
}

/*end of navigation*/

/* MAIN  */

.ryby {
  position: absolute;
  top: 0;
  margin-top: 3em;
  width: 99.9vw;
  height: 96vh;
  opacity: 0.8;

}

.icon {
  width: 20px;
  font-size: 12px;
  top: 58vh;
  border-radius: 50%;
}

.home h1,
.home p {
  color: #fff;
}


/* typography home */


.home h1 {
  position: absolute;
  top: 25vh;
  text-align: center;
  left: calc(50% - 303px);
  font-weight: 400;
  font-size: 60px;
}

.home h2 {
  position: absolute;
  font-family: Raleway;
  font-style: normal;
  margin: 2.5em auto;
  left: calc(50% - 260px);
  font-size: 30px;
  font-weight: 100;
  color: #111;
}

#name {
  position: absolute;
  font-size: 20px;
  top: 45vh;
  left: calc(50% - 69px);
  font-weight: 200;
  text-transform: uppercase;
}

/* end of typogr*/


/*icons*/

.icon {
  position: absolute;
  width: 20px;
  font-size: 12px;
  top: 58vh;
  border-radius: 50%;
  transition: transform .3s ease;
}

.icon1 {
  left: calc(50% - 70px);
}

.icon2 {
  left: calc(50% - 35px);
}

.icon3 {
  left: calc(50%);
}

.icon4 {
  left: calc(50% + 35px);
}

/* animacja icon */

.icon:hover {
  transform: translateX(5px) scale(1.2, 1.2);
}

.icons {
  transition: transform .3s ease;
}

.icons:hover {
  transform: translateX(5px) scale(1.2, 1.2);
}


/* btn */

.btn {
  position: relative;
  display: inline-block;
  margin-left: calc(50% - 150px);
}

.button {
  margin-top: 8em;
  margin-right: 1em;
  background: linear-gradient(270deg, #ffc53d 14%, #ff9a3d 68.5%);
  border-radius: 15px;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  transition: transform .4s ease-out;
}

.button:hover {
  transform: scale(1.1, 1.1);
}

/* ABOUT */


/* H3 TAGS */
h3 {
  top: -70px;
  position: absolute;
  left: 1em;
  font-size: 30px;
  font-family: Raleway;
  font-style: normal;
  font-size: 30px;
  font-weight: 100;
  color: #111;
}


/* ABOUT */

.about {
  position: relative;
  width: 90vw;
  height: 57vh;
  left: 4em;
  top: 7em;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.split_about {
  height: 50vh;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 2em;
  overflow-x: hidden;
  padding-top: 20px;
}

.left_about {
  left: 0;
}

/* Control the right side */
.right_about {
  right: 0;
}

.about img {
  position: absolute;
  left: 1em;
  width: 130px;
  border-radius: 70%;
  border: 2px solid #f5bb3f;
}


.description_box {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 50%;
  margin-left: 12em;
  height: 6vh;

}

#description p {
  margin: 7px;
  color: #f59948;
  font-size: 15px;
}

#description span {
  margin-right: 5px;
  font-weight: bold;
  color: #000;
}

#lorem_about {
  border-left: 4px dotted #f59948;
  padding-left: 2em;
  margin-top: 0em;
  text-align: left;
  color: #000;
}



/* SKILLS */



.skills {
  margin-top: 15em;
  position: relative;
  width: 80vw;
  left: 6em;
  min-height: 70vh;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}


.flex_skills {
  position: absolute;
  left: 5.5em;
  right: -1em;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

.flex_skills>div {
  position: relative;
  flex-basis: 33.3%;

}

.flex_skills h1 {
  color: #f59948;
  font-size: 22px;
}

.flex_skills p {
  color: #000;
}

.flex_skills div img {
  width: 60%;
  margin-top: 5em;
}




/* PORTFOLIO*/
.portfolio {
  margin-top: 8em;
  position: relative;
  width: 100vw;
  min-height: 110vh;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.portfolio h3 {
  margin-bottom: 2em;
  left: 2em;
}

.flex_portfolio {
  position: absolute;
  top: 3em;
  bottom: 2em;
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  flex-wrap: wrap;
  align-content: flex-start;
}

.flex_portfolio>div {
  flex-basis: 33.33%;
}

.flex_portfolio div img {
  width: 100%;
  transition: transform 0.2s ease;
}

.flex_portfolio div img:hover {
  transform: scale(0.9)
}






/* CONTACT */


.form_contact {
  position: relative;
  margin-top: 5em;
}

.contact h3 {
  position: absolute;
  top: -3em;
  left: 2em;
}

.split {
  height: 95vh;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  color: #fff;
  /* overflow-x: hidden; */
  padding-top: 2em;
}

.first {
  margin-left: 4em;
}

.first p {
  width: 50%;
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 5em;
  letter-spacing: 0.04em;
}

.first h5 {
  font-size: 16px;
}

.first h5,
#adres {
  width: 50%;
}

.left {
  left: 70px;
  background: #FF9A3D;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

/* Control the right side */
.right {
  right: 70px;
  background-color: #fff;
}

.one_icon_contact {
  width: 80px;
}

.icons {
  width: 25px;
  border-radius: 50%;
  margin: 0 5px;
}

#contact h4 {
  color: #444;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-left: 0.5em;
  letter-spacing: 0.04em;
}

fieldset {
  border: medium none !important;
  /* margisn: 0 0 50px; */
  min-width: 100%;
  width: 90%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="topic"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border-radius: 15px;
  background-color: #FAFAFF;
  color: #222;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0;
}


#contact-submit {
  background: linear-gradient(270deg, #ffc53d 14%, #ff9a3d 68.5%);
  border-radius: 15px;
  margin-left: 15em;
  margin-top: 2em;
  width: 150px;
  height: 50px;
  border: none;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  transition: transform .4s ease-out;
}

#contact-submit:hover {
  transform: scale(1.1, 1.1);
}


#copyrights_container {
  position: relative;

}

#copyrights {
  width: 100%;
  text-align: center;
  position: absolute;
  color: #A0A0A0;
  font-size: 16px;
  top: 120vh;
}



/* 912 912 912 912 912 912 912  */



@media(max-width: 912px) {

  #contact-submit {
    margin-left: 8em;
    margin-top: 2em;
    width: 150px;
  }

  .contact h3 {
    top: -1em;
  }

  .split {
    margin-top: 3em;
    height: 100vh;
  }

  .left {
    left: 0;

  }

  #copyrights {
    width: 100%;
    text-align: center;
    position: absolute;
    color: #A0A0A0;
    font-size: 16px;
    top: 130vh;
  }

}

/* 800 800 800 800 800 */

@media(max-width: 800px) {


  /*  about */

  .about {
    position: relative;
    width: 100vw;
    height: 85vh;
    left: 0;
    top: 7em;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  }

  .split_about {
    height: 50vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 1em;
    overflow-x: hidden;
    padding: 2em;
  }

  .left_about {
    width: 100%;
    left: 0;
  }

  /* Control the right side */
  .right_about {
    width: 90%;
    top: 40vh;
    left: 0em;
    right: 0;
  }

  .about img {
    position: absolute;
    left: 1em;
    width: 130px;
    border-radius: 70%;
    border: 2px solid #f5bb3f;
  }


  .description_box {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 50%;
    margin-left: 12em;
    height: 6vh;

  }

  #description p {
    margin: 7px;
    color: #f59948;
    font-size: 15px;
  }

  #description span {
    margin-right: 5px;
    font-weight: bold;
    color: #000;
  }

  #lorem_about {
    border-top: 3px dotted #f59948;
    border-left: 0;
    padding-left: 0em;
    border-width: 0, 0, 0, 0;
    margin-top: 0em;
    padding-top: 1em;
    text-align: left;
    color: #000;
  }



  /* skills */


  .skills {
    min-height: 150vh;
    left: 4em;
  }



  .flex_skills {
    left: -1em;
  }

  .flex_skills>div {
    flex-basis: 50%;
    text-align: center;
  }



  /* PORTFOLIO */
  .portfolio {
    min-height: 140vh;
  }

  .flex_portfolio>div {
    flex-basis: 50%;
  }

  /* contact */
  .split {
    height: 110vh;
  }

  #copyrights {
    top: 140vh;
  }

}


/* 620 620 620 620 620   620 620 620 620 620  */


@media(max-width: 620px) {
  .home h1 {
    top: 20vh;
    font-size: 50px;
    left: calc(50% - 252.5px);
  }

  /* skills */


  .skills {
    position: relative;
    min-height: 160vh;
    left: 4em;
  }

  .flex_skills {
    left: -1em;
  }

  .flex_skills>div {
    flex-basis: 50%;
  }

  .flex_skills div img {
    width: 80%;
  }

  /* portfolio */
  .portfolio {
    min-height: 160vh;
  }


  /* contact */


  .contact h3 {
    top: 0em;
  }

  .form_contact {
    position: relative;
    margin-top: 5em;
  }

  fieldset {
    border: medium none !important;
    margin-left: 5em;
    min-width: 100%;
  }

  .split {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 20em;
    color: #fff;
    padding-top: 2em;
  }


  .first p {
    width: 50%;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 5em;
    letter-spacing: 0.04em;
  }

  .first h5,
  .first p,
  #adres {
    width: 80%;
    margin-left: 1.5em;
  }



  #contact h4 {
    margin-left: 8em;
  }

  .left {
    text-align: center;
    top: 20vh;
  }


  .right {
    top: 140vh;
    width: 80%;
    left: -2.5em;
  }

  #contact-submit {
    margin-left: 9em;
    margin-top: 2em;
    width: 150px;
    height: 50px;
  }

  #copyrights {
    top: 280vh;
  }


}


/* 580 580 580 580 580 580 */
@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
    color: #444;
  }

  nav ul {
    max-height: 0px;
    background: #fff;
  }

  nav.black ul {
    background: #fff;
  }

  #name {
    top: 10vh;
  }


  .home h2 {
    font-size: 25px;
    text-align: center;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 17px 0;
    text-align: center;
  }



  .menu-icon {
    color: white;
    background-color: white;
    display: block;
  }


  .button {
    margin-top: 9em;
  }



  /* about */

  /* skills */
  .skills {
    position: relative;
    min-height: 270vh;
  }

  .flex_skills {
    left: -1.5em;
  }

  .flex_skills>div {
    flex-basis: 100%;
  }

  .flex_skills div img {
    width: 60%;
  }

  .flex_skills div h3 {
    position: absolute;
    left: 0em;
  }



  /* PORTFOLIO */

  .portfolio {
    min-height: 370vh;
    width: 100%;
    max-width: 100%;
  }

  .flex_portfolio>div {
    flex-basis: 100%;
  }



  /* contact */

  .contact h3 {
    top: 12em;
  }

  .form_contact {
    position: relative;
    margin-top: 5em;
  }

  fieldset {
    border: medium none !important;
    margin-left: 3em;
    min-width: 90%;
  }

  .split {
    width: 100%;
    position: absolute;
  }

  .icons_contact,
  .one_icon_contact {
    margin-left: -5em;
  }


  .first h5,
  .first p,
  #adres {
    width: 80%;
    margin-left: 0em;
  }



  .left {
    text-align: center;
    top: 80vh;
    width: 100vw;
  }


  .right {
    top: 190vh;
  }

  #contact-submit {
    margin-left: 0em;
    width: 91.5vw;
  }

  #copyrights {
    top: 340vh;
  }
}